@tailwind base;
@tailwind utilities;
@tailwind components;
body {
  background: linear-gradient(
    90deg,
    rgb(236, 236, 234) 0%,
    rgb(124, 124, 124) 50%,
    rgb(90, 90, 90) 100%
  );
}
#my-pre {
  max-width: 400px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

@media screen and (max-width: 760px) {
  #my-pre {
    max-width: 350px;
  }
}
